<div class="reminder-container">
  <h2 class="page-title">Mark a Day to Remember</h2>

  <label class="photo-upload">
    <input type="file" accept="image/*" (change)="onPhotoSelected($event)" hidden>
      <div class="photo-circle">
        <ng-container *ngIf="photoUrl; else uploadText">
          <img [src]="photoUrl" alt="Profile Photo">
        </ng-container>
        <ng-template #uploadText>
          📷
        </ng-template>
      </div>
  </label>
  
  <mat-form-field appearance="outline" class="name-input">
    <mat-label>Name</mat-label>
    <mat-icon matSuffix class="emoji-suffix">cake</mat-icon>
    <input matInput [(ngModel)]="name">
  </mat-form-field>

  
    <mat-form-field appearance="outline" class="date-input">
      <mat-label>Month</mat-label>
      <mat-select [(ngModel)]="selectedMonth">
        <mat-option *ngFor="let m of months; let i = index" [value]="i">{{ m }}</mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="date-input">
      <mat-label>Day</mat-label>
      <mat-select [(ngModel)]="selectedDay">
        <mat-option *ngFor="let d of daysInMonth" [value]="d">{{ d }}</mat-option>
      </mat-select>
    </mat-form-field>
  
    
  <button mat-raised-button color="primary"
    (click)="saveReminder()"
    [disabled]="!name || selectedMonth === null || selectedDay === null">
    Save
  </button>

  <button mat-stroked-button color="accent"
    (click)="goToList()">
    View Reminders
  </button>
</div>
